<p style="color: green"><%= notice %></p>
<%= render 'issue', issue: @issue %>

<div class="custom-btn-container" style="margin-top: 20px; display: flex; justify-content: space-between;">

  <!-- Botón de Volver -->
  <%= link_to issues_path, class: "btn btn-create", style: "width: auto; text-decoration: none; text-align: center; font-weight: bold; text-transform: uppercase;" do %>
    BACK
  <% end %>

</div>