<div class="issue-form-container" style="text-align: center; max-width: 500px;">
  <h2 class="text-center">Iniciar sesión</h2>

  <div style="margin: 40px 0;">
    <%= button_to(
      user_github_omniauth_authorize_path,
      method: :post,
      data: { turbo: false },
      class: "github-login-btn",
      style: "background-color: #24292e; color: white; padding: 15px; text-decoration: none; border-radius: 5px; text-align: center; margin: 0 auto; width: 80%; border: none; cursor: pointer;"
    ) do %>
      <i class="fa fa-github" style="margin-right: 10px;" aria-hidden="true"></i> Iniciar sesión con GitHub
    <% end %>
  </div>
</div>